<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>{{ setting.get('base:name') }}</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
                <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="/css/front-styles.css" rel="stylesheet">
        <link href="/dist/css/custom.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        {% block css %}
        {% endblock %}
    </head>
    <body>        
        <div class="headerCont">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <a href="{{ path('front_homepage') }}" class="header-logo">
                            <img src="/images/logo.png" class="img-responsive" alt="Zając Nieruchomości" />
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="likeBoxCont">
                            <script src="http://connect.facebook.net/pl_PL/all.js#xfbml=1"></script>
                            <fb:like href="http://zajacnieruchomosci.pl" show_faces="false" width="450"></fb:like>
                        </div>
                        <div>
                            <a href="{{ setting.get('social:facebook') }}" class="social-btn"><i class="fa fa-facebook"></i></a>
                            <a href="{{ setting.get('social:twitter') }}" class="social-btn"><i class="fa fa-twitter"></i></a>
                            <a href="{{ setting.get('social:gplus') }}" class="social-btn"><i class="fa fa-google-plus"></i></a>
                            <a href="{{ setting.get('social:youtube') }}" class="social-btn"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 phoneNumber">
                        {{ setting.get('base:phone') }}
                    </div>
                </div>                
            </div>
        </div>
        <div class="menuCont">
            <div class="container">
                <div class="row text-right">
                    <a class="col-md-offset-6 col-xs-offset-0 col-md-2 col-xs-12" href="{{ path('offers') }}">Nieruchomości</a>
                    <a class="col-md-2 col-xs-12" href="/o-nas">O nas</a>
                    <a class="col-md-2 col-xs-12" href="/kontakt">Kontakt</a>
                </div>
            </div>
        </div>
        <div class="mainCont">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footerCont">
            <div class="container fs">
                <div class="row">
                    <div class="col-xs-12 text-center footerSlogan">
                        Chcesz otrzymywać na bieżąco informacje o nieruchomościach? <br/>
                        Zapisz się do naszego newslettera
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="input-group newsletter">
                            <span class="input-group-addon left-addon">
                                <i class="fa fa-envelope-o"></i>
                            </span>
                            <input type="email" class="form-control subscribe-email">
                            <span class="input-group-addon right-addon">
                                <button class="btn btn-red btn-subscribe" type="button">Zapisz się!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4><span>Kategorie</span></h4>
                        <ul class="footer-menu">
                            <li><a href="{{ path('offers') }}">nieruchomości</a></li>
                            <li><a href="{{ path('offers_flats') }}">mieszkania</a></li>
                            <li><a href="{{ path('offers_houses') }}">domy</a></li>
                            <li><a href="{{ path('offers_plots') }}">działki</a></li>
                            <li><a href="{{ path('offers_locales') }}">lokale</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4><span>Menu</span></h4>
                        <ul class="footer-menu">
                            <li><a href="{{ path('contact',{type:'report'}) }}">zgłoś nieruchomość &raquo;</a></li>
                            <li><a href="{{ path('contact',{type:'sell'}) }}">zgłoś sprzedaż &raquo;</a></li>
                            <li><a href="{{ path('contact',{type:'search'}) }}">zgłoś poszukiwanie &raquo;</a></li>                            
                            <li><a href="{{ path('credits') }}">kredyty &raquo;</a></li>
                            <li><a href="{{ path('advice_page') }}">jak sprzedajemy &raquo;</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4><span>Znajdź nas</span></h4>
                        <div class="socialBlock">
                            <a href="{{ setting.get('social:facebook') }}" class="social-btn foot"><i class="fa fa-facebook"></i></a>
                            <a href="{{ setting.get('social:twitter') }}" class="social-btn foot"><i class="fa fa-twitter"></i></a>
                            <a href="{{ setting.get('social:gplus') }}" class="social-btn foot"><i class="fa fa-google-plus"></i></a>
                            <a href="{{ setting.get('social:youtube') }}" class="social-btn foot"><i class="fa fa-youtube"></i></a>
                        </div>
                        <div class="copyright">Copyright &copy; native</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alertCont col-md-6"></div>
        <!-- jQuery 2.1.3 -->
        <script src="/plugins/jQuery/jQuery-2.1.3.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/custom.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                        printAlert('{{ label }}', '{{ flash }}', false);
                {% endfor %}
            {% endfor %}
                    $('.btn-subscribe').on('click', function () {
                        var email = $('.subscribe-email').val();
                        $.post("{{ path('subscribe') }}", {email: email}, function (data) {
                            console.log(data);
                            location.reload();
                        }, "json");
                    });
                });
        </script>
        {% block js %}
        {% endblock %}
    </body>
</html>