{% extends "::frontbase.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ title }}</h1>     
            </div>
        </div>
        <div class="row offersCont">
            {% for offer in offers %}
                <div class="col-md-6">
                    <div class="offerBox">
                        <div class="offerThumbnail"><img src="{{ offer.getThumbnail }}" class="img-responsive"/></div>
                            {% if offer.hotOffer %}
                            <div class="hotOffer"></div>
                        {% endif  %}
                        <div class="offerDescription">
                            <table class="table table-condensed no-border">
                                <tr>
                                    <td>
                                        <strong>{{ offer.getType(false) }} {% if offer.rent %}do wynajęcia{% else %}na sprzedaż{% endif %}</strong>
                                    </td>
                                    <td class="text-right gray">
                                        {% if offer.discount > 0 %}
                                            <span class="discount">
                                                <strong>
                                                    {{ offer.getPrice(false) }}zł
                                                </strong>
                                            </span>
                                        {% else %}
                                            <strong>
                                                {{ offer.price }}zł
                                            </strong>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ offer.localization.city }}
                                        {% if offer.localization.street is not null %}
                                            <br/>ul. {{ offer.localization.street }}
                                        {% endif %}
                                    </td>
                                    <td class="text-right pull-down">
                                        {% if offer.discount > 0 %}
                                            <strong class="gray">
                                                {{ offer.getPrice(true) }}zł
                                            </strong><br/>                     
                                        {% endif %}
                                        {% if offer.commition %}
                                            <strong class="text-danger">
                                                bez prowizji
                                            </strong><br/> 
                                        {% endif %}
                                        <a href="{{ path('offer_details',{id:offer.id}) }}" class="gray">szczegóły >></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> Nie znaleziono ofert spełniających wskazane kryteria.
                </div>
            {% endfor %}
        </div>
        <div class="row text-center infiniteSpinner">
            <div class="col-md-12"><h3><i class="fa fa-spin fa-spinner"></i></h3></div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(window).scroll(function ()
        {
            if ($(window).scrollTop() == $(document).height() - $(window).height())
            {
                $('.infiniteSpinner').show();
                var count = $('.offerBox').length;
                $.ajax({
                    url: "{{ path('offer_infinite') }}",
                    method: "POST",
                    data: {
                      number: count  
                    },
                    success: function (html)
                    {
                        if (html)
                        {
                            $(".offersCont").append(html);
                            $('.infiniteSpinner').hide();
                        } else
                        {                            
                            $('.infiniteSpinner').html('<div class="alert alert-info text-center"><strong>Brak ofert do wyświetlenia.</strong></div>');
                        }
                    }
                }).fail(function(){
                    $('.infiniteSpinner').html('<div class="alert alert-info text-center"><strong>Brak ofert do wyświetlenia.</strong></div>');
                });
            }
        });
    </script>
{% endblock %}